.App{
    display: flex;
    flex-direction: column;
    align-items: center;

}

header{
  width: 90%;
  height: 50px;
  background: #AB2A19;
  padding: 0  0 0 20px;
  color: white;
}

.dashBoardWrapper{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}


.productDisplay{
  width: 300px;
  height: 100px;
  border: black solid 1px;
  display: flex;
  background: #D34735;
  margin: 10px;

}

.imageDisplay{
  height: 75px;
}

.formWrapper{
  background: #3AD886;
  margin: 10px;
}

input{
  width: 200px;
  font-size: 10px;
}

